.c-form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--vr-x2);
}

.c-form__label {
    text-align: right;
    font-family: var(--font-sans);
    font-weight: bold;
    font-size: 19px;
    grid-column-start: 1;
    align-self: center;
    color: var(--color-grey-dark);
}

.c-form__field {
    width: 100%;
    grid-column-start: 2;
}

.c-form__action {
    grid-column-start: 3;
}

.c-form__fullrow {
    grid-column: 1 / span 3; 
}