:root {
    --color-primary-light: #f2ec96;
    --color-primary: #eee126;
    --color-primary-shade: #C1B722;
    --color-secondary: #3FC4F1;
    --color-secondary-dark: #037195;
    --color-grey-darkest: #222222;
    --color-grey-dark: #5E6060;
    --color-grey-lightest: #F3F5F6;
    --color-grey-light-shade: #e5e7e8;
    --color-grey-light: #ebeded;
    --color-grey-medium: #D2D4D4;
    --color-grey-medium-shade: #8F9191;

    --color-warm: #ed3a26;
    --color-cool: #43a34d;

    --font-monospace: 'Fira Mono', monospace;
    --font-sans: 'Fira Sans', sans-serif;

    --vr: 10px;
    --vr--x2: 20px;
    --vr--x3: 30px;
    --vr--x4: 40px;
    --vr--x5: 50px;
    --vr--x6: 60px;
}